html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: green;
  padding-top: 5px;
  text-align: center;
}
.head {
  width: 100%;
  height: 50px;
  color: black;
  text-shadow: 4px, 4px;
  background-color: green;
  padding-top: 5px;
  text-align: center;
}

.nav {
  height: 46px;
  padding: 10px;
  /* margin: 2px; */
  background-color: saddlebrown;
}
