<h3>{{vm.title}}</h3>
<ul>
  <li ng-repeat="team in vm.teams">
    <a ng-href="#!/teams/{{team._id}}">Team : {{team.teamName}} </a>
    &nbsp;&nbsp;Captain:{{team.captain}}
    <!-- &nbsp;&nbsp;date: {{job.postDate | date : format : timezone}} -->
    <button class="design" ng-click="vm.delete(team._id)">delete</button>
  </li>
</ul>

<form name="vm.teamsForm" ng-submit="vm.addTeam()">
  <h5><b>Fill Form:</b></h5> 
  Team : &nbsp;&nbsp;&nbsp; <input type="text" name="teamName" required
  ng-model="vm.newTeamName" style="color:black" /> </br>
  Captain : <input type="text" name="captain" ng-model="vm.newCaptain" style="color: black"/>
  <button type="submit" class="btn-success">Add Job</button>
</form>

<style>
  .design {
    background-color:red;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
</style>
